
:root{
    --primary-color:rgb(58, 100, 159);
    --secondary-color:white;
    --text-black:black;
    --dark-color:rgb(152,151,151);
    --gray-color:rgb(239,239,239);
    --light-color:rgb(83, 142, 211);
    --primary-font:poppins;
    --secondary-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* NAVBAR */
#nav
{
    background-color: var(--primary-color);
    position: fixed;
}
.navbar-brand img{
    width: 150px;
}
#toggle,#close{
    border: none;
    font-size: 18px;
    box-shadow: none;
}
.offcanvas-body,.offcanvas-header{
    background-color:var(--primary-color);
}
/* dropdown */
.nav-item .dropdown-menu,.nav-item .dropdown-menu{
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    margin-left: 5%;
    
}
.nav-item .dropdown-menu a{
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 17px;
}
.nav-item .dropdown-menu a:hover{
    color: var(--light-color);
}
/* hover underline */
#link
{
    font-weight: 400;
    position: relative;
    color: var(--secondary-color);
    padding: 7px 10px;
    font-size: 15px;
    font-family: var(--primary-font);
}
@media (min-width:992px)
{
#link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    visibility: hidden;
    transition: 0.2s ease-in-out;
}
#link:hover::before,#link.active::before{
    width: 100%;
    visibility: visible;
    
}
}

/* slider */
#home .banner1{
    
    background-image: url(images/air4.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;
}
#home .banner2{
    background: linear-gradient(rgb(58, 100, 159),rgba(255, 255, 255, 0)),url(images/kamil-pietrzak-09u69eLpfeY-unsplash.jpg)no-repeat;
    background-size: cover;
     background-position: center;
     min-height: 600px;
     position: relative;
}
#home .banner3{
    background: linear-gradient(rgba(58, 100, 159),rgba(255, 255, 255, 0)),url(images/kevin-hackert-UfTtn4fbeF8-unsplash.jpg)no-repeat;
    background-size: cover;
     background-position: center;
     min-height: 600px;
     position: relative;
}
#home .banner4{
    background: linear-gradient(rgba(58, 100, 159),rgba(255, 255, 255, 0)),url(images/john-mcarthur-TWBkfxTQin8-unsplash.jpg)no-repeat;
    background-size: cover;
     background-position: center;
     min-height: 600px;
     position: relative;
}
#home .banner1 .home-banner-text h1{
    position: absolute;
    background: linear-gradient(rgba(13, 16, 107, 0.623),rgba(255, 255, 255, 0.349));
    background-clip: text;
    color: transparent;
    top: 12%;
    left: 19%;
    font-family: roboto;
    font-weight: 700;
    font-size: 120px;
    letter-spacing: 45px;
}
#home .banner1 .home-banner-text h6{
    position: absolute;
    top: 10%;
    left: 31%;
    font-family: roboto;
    letter-spacing: 13px;
    font-weight: bold;
}
/* ticket */

.ticket{
    background-color: var(--gray-color);
    font-size: 18px;

}
.btn-search{
    background-color: var(--primary-color);
    border: none;
}
.btn-search:hover{
    background-color: var(--light-color);
}
input:hover{
    border: solid 1px rgb(18, 100, 167);
}

/* welcome to airlines */

#intro{
    margin-top: 5%;
    margin-left: 7%;
    
   
}
#intro h1{
    font-weight: 700;
    font-size: 33px;
    font-family: poppins;
}
#intro p{
    text-align: justify;
    font-size: 15px;
    width: 85%;
    font-family: poppins;
}
#intro img{
    margin-top: 1%;
    width: 520px;
}

/* aircraft */
#our-craft{
    background-color: var(--gray-color);
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
}
#aircraft .card{
    background-color: var(--dark-color);
    margin-top: 5%;
    border-radius: 0px;
    border: none;
}
#aircraft .card img{
    height: 200px;
}
#aircraft h1{
    font-weight: 700;
    font-size: 33px;
    font-family: poppins;
    text-align: center;
}
#aircraft p{
    
    font-size: 15px;
    font-family: poppins;
    text-align: center;
}
#aircraft .card a{
    text-decoration: none;
}
#aircraft .card h2{
    text-align: center;
    font-size: 22px;
    color: var(--secondary-color);
    font-weight: 600;
}
#aircraft .card:hover{
    box-shadow: 1px 1px 6px 6px rgb(179, 179, 179);
}
#aircraft .card-body:hover{
    background-color: var(--primary-color);
}

/* aircharter */

#our-charter{
    margin-top: 5%;
}
#aircharter .row{
    margin-top: 10%;
}
#aircharter h1{
    font-weight: 700;
    font-size: 33px;
    font-family: poppins;
    text-align: center;
}
#aircharter p{
    
    font-size: 15px;
    font-family: poppins;
    text-align: center;
}
#script{
    background-color: var(--gray-color);
    padding: 40px;
}
#script h2{
    color: var(--primary-color);
    font-weight: 700;
    font-family: poppins;
}
#script p{
    
    text-align: justify;
}
#script a{
    margin-left: 84%;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}
#aircharter .chart1{
    margin-top: 3%;
}

/* video */

#vdo video{
    margin-top: 6%;
    margin-left: 10%;
    height: 600px;
}

/* footer */

footer{
    margin-top: 5%;
    background-color: var(--primary-color);
    padding: 20px;
}
#footer-p1{
    width: 45%;
    text-align: left;
    color: var(--secondary-color);
    margin-top: 5%;
}
footer a{
    color: white;
    padding: 0px 4px;
}
#links{
    margin-top: 5%;
}
#links ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px 0px;
    color: white;
    font-family: var(--primary-font);
}
#links ul li a{
    text-decoration: none;
    list-style-type: none;
}
#copyright{
    background-color: var(--dark-color);
    text-align: center;
    color: var(--secondary-color);
    padding: 5px;
    
}